body {
	text-align: center;
	background-image: url(http://ilyakhasanov.ru/images/background/58.png);
	color: rgb(172, 172, 172);
}
div {
	margin-left: auto;
  margin-right: auto;
	width: 120px;
	border: 1px solid  rgb(172, 172, 172);
}
.news {
	color: rgb(200, 142, 255);
}
.one {
	font-weight: 900;
}
.two {
	font-style: italic;
}
.three {
	text-decoration: underline;
	color: rgb(236, 255, 70);
}
.four {
	color: rgb(81, 93, 255);
	text-decoration: line-through;
}
.five {
	color: rgb(78, 255, 196);
}
.six {
	color: rgb(255, 62, 62);
}